@model IEnumerable<Publicacao>
@{
    ViewData["Title"] = "Publicações";
}

<div class="text-center">
    <h1 class="display-4">Lista de Publicações do @Model.FirstOrDefault().Usuario.Nome</h1>
</div>


<div class="esh-orders">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <article class="esh-orders-titles row">
            <section class="esh-orders-title col-xs-2">Nome</section>
            <section class="esh-orders-title col-xs-4">Data</section>
            <section class="esh-orders-title col-xs-2">Usuario</section>
            <section class="esh-orders-title col-xs-2">Foto</section>
        </article>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <article class="esh-orders-items row">
                    <section class="esh-orders-item col-xs-2">@Html.DisplayFor(modelItem => item.Nome)</section>
                    <section class="esh-orders-item col-xs-4">@Html.DisplayFor(modelItem => item.DataEnvio)</section>
                    <section class="esh-orders-item col-xs-2">$ @Html.DisplayFor(modelItem => item.Usuario.Nome)</section>
                    <section class="esh-orders-item col-xs-2">@Html.DisplayFor(modelItem => item.Foto.Id)</section>
                </article>
            }
        }
    </div>
</div>
